<script src="signWechat.js"></script>
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache,no-store, must-revalidate">
	<META HTTP-EQUIV="pragma" CONTENT="no-cache">
	<META HTTP-EQUIV="expires" CONTENT="0">
	<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=0">
	<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
	<script src="https://cdn.bootcss.com/vue/2.4.4/vue.js"></script>
</head>
<body ontouchstart="">
	<div class="container" id="container">
		<div class="weui-tab">
			<div class="weui-tab__panel">
				<div class="weui-cells" id="book">{{book}}
					<div id='vue-radio-1'>
						<div class="weui-cell weui-cell_switch" v-if="seen">
							<div class="weui-cell__bd">看完免费分享给好友(读书接龙)</div>
							<div class="weui-cell__ft">
								<label for="switchCP" class="weui-switch-cp">
									<input id="switchCP" class="weui-switch-cp__input" type="checkbox" checked="checked"  v-model.lazy="toggle"  v-bind:true-value="cTrue"  v-bind:false-value="cFalse"/>
									<div class="weui-switch-cp__box"></div>
								</label>
							</div>
						</div>
					</div>
					<div id="addressInfo" v-if='seen' >
						<div class="weui-cells__title" id='bookAddressContent' v-html="bookAddressInfo">
						</div>
					</div>
					<div id="dominoApplyInfo" v-if='seen' onclick="goPageListApply()">
						<div  class="weui-cell" >正在申请接龙的用户共 {{dominoApplyCount}} 人
						</div>
						<div  class="weui-cell" v-html="innerHtml">
						</div>
					</div>
				</div>
				<div class="weui-cells" id="notes">{{scriptPicData}}{{notes}}
				</div>
			</div>
			<div class="weui-tabbar">
				<!-- <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on"><a href="javascript:;" class="weui-btn weui-btn_primary">看完分享</a></a> -->
				{{button}}
			</div>
		</div>
	</div>
	<!-- loading toast -->
	<div id="loadingToast" style="display:none;">
		<div class="weui-mask_transparent"></div>
		<div class="weui-toast">
			<i class="weui-loading weui-icon_toast"></i>
			<p class="weui-toast__content">数据加载中</p>
		</div>
	</div>
	<div class="js_dialog" id="iosDialog2" style="display: none;">
		<div class="weui-mask"></div>
		<div class="weui-dialog">
			<div class="weui-dialog__bd">点击右上角按钮，即可分享到朋友圈，或发给好友</div>
			<div class="weui-dialog__ft">
				<a href="javascript:closeShareTip();" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
			</div>
		</div>
	</div>
	<div class="js_dialog" id="iosDialog1" style="display: none;">
		<div class="weui-mask"></div>
		<div class="weui-dialog">
			<div class="weui-dialog__hd"><strong class="weui-dialog__title">地址</strong></div>
			<div class="weui-dialog__bd">确认将选择本实体书所在的地址。</div>
			<div class="weui-dialog__ft">
				<a href="javascript:shareBookCancel();" class="weui-dialog__btn weui-dialog__btn_default">取消</a>
				<a href="javascript:editBookAddress();" class="weui-dialog__btn weui-dialog__btn_primary">确认</a>
			</div>
		</div>
	</div>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
	var imgUrl = '{{imgUrl}}';
	wx.config({
		debug : sign.debug,
		appId :sign.appId
	,
		timestamp :sign.timestamp
	,
		nonceStr :sign.nonceStr
	,
		signature :sign.signature
	,
		jsApiList : [ 'checkJsApi', 'onMenuShareTimeline',
				'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo',
				'onMenuShareQZone', 'hideMenuItems', 'showMenuItems',
				'hideAllNonBaseMenuItem', 'showAllNonBaseMenuItem',
				'translateVoice', 'startRecord', 'stopRecord',
				'onVoiceRecordEnd', 'playVoice', 'onVoicePlayEnd',
				'pauseVoice', 'stopVoice', 'uploadVoice', 'downloadVoice',
				'chooseImage', 'previewImage', 'uploadImage', 'downloadImage',
				'getNetworkType', 'openLocation', 'getLocation',
				'hideOptionMenu', 'showOptionMenu', 'closeWindow',
				'scanQRCode', 'chooseWXPay', 'openProductSpecificView',
				'addCard', 'chooseCard', 'openCard' ]
	});
</script>
<script src="http://cdnjs.gtimg.com/cdnjs/libs/zepto/1.1.4/zepto.min.js"></script>
<script src="js/private-util.js"></script>
<script src="js/wechat-readOwner.js"></script>
</html>